#contacts
	.vcard
		.adr
			div
				span.locality Brno
			.country-name Czech Republic
		div
			| phone number: 
			span.tel +420 776 042 607
		div
			| e-mail: 
			span.email dmytro.ilhanaiev@gmail.com