head
	meta(charset='utf-8')
	title I_D_Portfolio
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	meta(property='og:type', content='website')
	meta(property='og:url', content='https://ilhanaiev.herokuapp.com/')
	meta(property='og:title', content='Web developer Ilhanaiev Dmytro. Portfolio.')
	meta(property='og:description', content='Works be Dmytro Ilhanaiev')
	meta(property='og:image', content='./images/me.jpg')
	link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')