header.containers
	nav
		h1.ilhan Ilhanaiev Dmytro
		include nav.pug
	.h2-header-wrap
		h2.title my portfolio
	.header-effect
		.c-eff-wrap
			.circles-on-wrap
				.circles-on
				.circles-on
				.circles-on
				.circles-on
				.circles-on
				.circles-on
			.circles-off-wrap
				.circles-off
				.circles-off
				.circles-off
				.circles-off
				.circles-off
				.circles-off
				.circles-off