#about
	.img.ime
	p Hi, I'm Dmytro Ilhanaiev. U can call me Dmytro as well as Dymytry, Dima, Dyma and so on. I appreciate u are checking out my modest corner. Actually, I'm actively and hard developing my portfolio, namely this place, this container for my works and strenuously working on my singles projects. I'm inspired by modern technologies and tools regarding web development really bad, its amazing stuff indeed. So, this place is going to be great ;)
	.img.idev
	p While I am creating web applications ten times out of ten I use webpack, yarn and VS Code. These are the tools which are the cornerstone of my work. I like them: the yarn is fast and very comfortable tool, much better than npm, as for me; webpack - it's just an amazing bundler provides a lot of useful features and plugins. Now I can't imagine my life without autoprefixer, without opportunity to maintain browsers and versions you define, for instance :)
		br
		br
		| Most of all I like design ReactJS apps. Dynamic applications are my weakness at all. Going to join the fashion wave and try Vue.js
		br
		br
		| The source code of a couple of my works can be checked out on  
		a(href='https://github.com/alienalien13', target='_blank') GitHub