ul
	li.homeBut
		.nav Home
	// 
	li.aboutBut
		.nav About
	// 
	li.contactBut
		.nav Contact
	// 
	li(id='')
		a(href='https://github.com/alienalien13', target='_blank')
			.nav
				.fa.fa-github
	// 
	li(id='')
		a(href='https://www.facebook.com/AlienAlien13', target='_blank')
			.nav
				.fa.fa-facebook
	// 
	li(id='')
		a(href='https://www.linkedin.com/in/dmytro-ilhanaiev-0b0a3413a/', target='_blank')
			.nav
				.fa.fa-linkedin