html(lang="en")
	include parts/head.pug
	body

		include parts/header.pug
		include parts/info.pug
		include parts/contact.pug

		#list.main
			include projects/react-rocketmen.pug
			include projects/lipa-form.pug
			include projects/rocketmen.pug
			include projects/react-comments.pug
			include projects/landing-firm.pug
			include projects/letters-catcher.pug
			include projects/tattoo.pug
			include projects/table.pug
			include projects/adoptly.pug
			include projects/books-media.pug												
		
		include parts/footer.pug