mixin project(linkto, imgsrc, projectTitle, projectDescription)
	.projects
		a.link(href=linkto, target='_blank')
			.image
				img(src=imgsrc, alt='')
			.text
				h3
					strong= projectTitle
				br
				p= projectDescription