include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/adoptly/index.html',
	'/images/adoptly.png',
	'First step with React',
	'First attempt to work with React. SPA app: content insertion'
)