include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/booksmedia/index.html',
	'/images/booksmedia.png',
	'Website concept for media',
	'Using Html5 to playing media files'
)