include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/landingfirm/index.html',
	'/images/landingfirm.png',
	'Corporative webpage',
	'Concept landing page for commercial firm. Including jQuery swiping, form validations via Html5 attributes. Also here is feature playing video by pure JavaScript excluding html5 API'
)