include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/letters-catcher/index.html',
	require('../images/letters-catcher.png'),
	'Game "Letters catcher"',
	'JavaScript canvas game. Rules are inside. Meanwhile you are bored - try to catch all letters, don\'t let them fall!'
)