include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/lipaForm/index.html',
	require('../images/lipaForm.png'),
	'Subscribe form',
	'Application includes forms validation just via javascript. Pure CSS styling, js+css animation and FontAwesome icons'
)