include ../project_template.pug

+project(
	'https://github.com/alienalien13/node-chat',
	require('../images/node-chat.png'),
	'Node.js application - Chat',
	'Localhost version. Using express and socket. io on the backend, requires SSL certificate for working online. In the resolving process. Using Pug as a view engine, jQuery for easy DOM manipulation, CSS framework Equalize.css and Animated.css'
)