include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/react-rocketmen/index.html',
	require('../images/react-rocketmen.png'),
	'Rocketmen React version',
	'ReactJS application with Bootstrap4 styling. You can add new rocketman, sort the list of rocketmen by name, surname, date or superpower as well as edit rocketman\'s info or remove the one. Also you are able to search in the list'
)