include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/sort-comments/index.html',
	'/images/sort-comments.png',
	'Comments module via ReactJS',
	'SPA React app. It adds and sorts comments. Using React + Babel and Bootstrap4 + React-Bootstrap + FontAwesome icons for sorting statements'
)