include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/rocketmen/index.html',
	require('../images/rocketmen.png'),
	'JS app with adding and editing option',
	'Application includes text-forms with javascript validation to add info and table with option to edit datas. Whole application was made just by javascript, no js frameworks. For styling were used Skeleton and FontAwesome'
)