include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/table/index.html',
	require('../images/table.png'),
	'Lite offer table',
	'Lite style table using Bootstrap3 and @keyframes animation'
)