include ../project_template.pug

+project(
	'http://alienalien13.ucoz.net/projects/tattoo/index.html',
	'/images/tattoo.png',
	'Landing page for tattoo artist Daria',
	'Using jQuery for photo gallery and animation, including CSS animation'
)