#about{
	max-width: 940px;
	display: none;
	margin: 4.5rem auto;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100% 100%;
	grid-gap: 2rem;
}
.about{
	background-color: rgba(27, 5, 140, 0.43);
}
.ime{
	background-image: url('../images/me.jpg');
}
.idev{
	background-image: url('../images/dev-process.png');
}
@media screen and (max-width: 1030px){
	.img{
		width: 80%;
		margin-left: 20%;
		min-height: 100px;
		min-width: 100px;
		background-size: 100%;
		border-radius: 50%;
	}
	#about p{
		display: block;
		width: 80%;
		text-align: justify;
	}
}
@media screen and (min-width: 1030px){
	.img{
		width: 100%;
		min-height: 100px;
		min-width: 100px;
		background-size: 100%;
		border-radius: 50%;
	}
	#about p{
		text-align: justify;
	}
}