#about{
	max-width: 940px;
	display: none;
	margin: 4.5rem auto;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100% 100%;
	grid-gap: 2rem;
}
.about{
	background-color: rgba(27, 5, 140, 0.43);
}
#about p{
	text-align: justify;
}
.img{
	width: 100%;
	min-height: 100px;
	min-width: 100px;
	background-size: 100%;
	border-radius: 50%;
}
.ime{
	background-image: url('../images/me.jpg');
}
.idev{
	background-image: url('../images/dev-process.png');
}