.circles-on-wrap{
	position: relative;
	top: 11px;
}
.circles-on{
	margin: 0 21px;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
	border-radius: 30px;
	border:30px solid #8ed3e8;
}
.circles-off-wrap{
	position: relative;
	top: -63px;
	z-index:6!important;
}
.circles-off{
	margin: 0 21px;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
	border-radius: 30px;
	border:30px solid #fefefe;
}

.c-eff-wrap{
	position: absolute;
	top: 171px;
	left: calc(50% - 450px);
	width: 900px;
	height: 60px;
}
@media (max-width: 596px){
	.c-eff-wrap{
		position: absolute;
		top: 337px;
		left: calc(50% - 450px);
		width: 900px;
		height: 60px;
	}
}
@media (min-width: 596px) and (max-width: 899px){
	.c-eff-wrap{
		position: absolute;
		top: 256.5px;
		left: calc(50% - 450px);
		width: 900px;
		height: 60px;
	}
}
@media (min-width: 900px) and (max-width: 1094px){
	.c-eff-wrap{
		position: absolute;
		top: 258px;
		left: calc(50% - 450px);
		width: 900px;
		height: 60px;
	}
}
@media (min-width: 1094px){
	.c-eff-wrap{
		position: absolute;
		top: 175px;
		left: calc(50% - 450px);
		width: 900px;
		height: 60px;
	}
}