.circles-on-wrap{
	position: relative;
	top: 11px;
}
.circles-on{
	margin: 0 21px;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
	border-radius: 30px;
	border:30px solid #8ed3e8;
}
.circles-off-wrap{
	position: relative;
	top: -63px;
	z-index:6!important;
}
.circles-off{
	margin: 0 21px;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
	border-radius: 30px;
	border:30px solid #fefefe;
}



/* main wrap */
.header-effect{
	position: absolute;
	width: 100%;
	top: 175px;
	height: 100px;
	overflow: hidden;
}
.c-eff-wrap{
	width: 900px;
	height: 150px;
	position: absolute;
	left: calc(50% - 450px);
}

@media screen and (min-width: 770px){
	.header-effect{
		position: absolute;
		top: 175px;
		height: 100px;
		width: 100%;
		overflow: hidden;
	}
	.c-eff-wrap{
		position: absolute;
		left: calc(50% - 450px);
	}
}