.circles-on-wrap{
	position: relative;
	top: 11px;
}
.circles-on{
	margin: 0 21px;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
	border-radius: 30px;
	border:30px solid #8ed3e8;
}
.circles-off-wrap{
	position: relative;
	top: -63px;
	z-index:6!important;
}
.circles-off{
	margin: 0 21px;
	padding: 0;
	display: inline-block;
	width: 0;
	height: 0;
	border-radius: 30px;
	border:30px solid #fefefe;
}



/* main wrap */
.header-effect{
	position: absolute;
	overflow-x: hidden;
	overflow-y: visible;
	width: 100%;
	height: 100px;
}
.c-eff-wrap{
	width: 900px;
	height: 60px;
}
@media (max-width: 586px){
	.header-effect{
		position: absolute;
		overflow-x: hidden;
		overflow-y: visible;
		top: 337px;
		height: 100px;
		width: 100%;
	}
	.c-eff-wrap{
		position: absolute;
		left: calc(50% - 450px);
	}
}
@media (min-width: 586px) and (max-width: 899px){
	.header-effect{
		position: absolute;
		overflow-x: hidden;
		overflow-y: visible;
		top: 256.5px;
		height: 100px;
		width: 100%;
	}
	.c-eff-wrap{
		position: absolute;
		left: calc(50% - 450px);
	}
}
@media (min-width: 900px) and (max-width: 1066px){
	.header-effect{
		position: absolute;
		overflow-x: hidden;
		overflow-y: visible;
		top: 258px;
		left: calc(50% - 450px);
		height: 100px;
	}
}
@media (min-width: 1066px){
	.header-effect{
		position: absolute;
		overflow-x: hidden;
		overflow-y: visible;
		top: 175px;
		left: calc(50% - 450px);
		height: 100px;
	}
}