.h2-header-wrap{
	padding: 51px;
	color: var(--header-text-color);
	text-transform: uppercase;
	display: block;
	background-color: #8ed3e8;
	border-bottom: 20px solid #8ed3e8;
	transition: color .5s;
	text-align: center;
	box-shadow: inset 0px 2px 1px var(--header-text-color),
		0px 2px 1px var(--header-text-color)
}
.title{
	font-weight: 600;
	top: 9.5rem;
	left: calc(50% - 410px);
	font-size: 6rem;
	position: absolute;
	z-index: 7 !important;
}
.title-op{
	font-weight: 600;
	top: 9.3rem;
	left: calc(50% - 405px);
	font-size: 6rem;
	position: absolute;
	z-index: 4;
	color: white;
}
header h2:hover{
	cursor: default;
}
@media (max-width: 586px){
	.title{
		font-weight: 600;
		top: 17.5rem;
		left: calc(50% - 172px);
		font-size: 2.5rem;
		position: absolute;
		z-index: 5;
	}
	.title-op{
		font-weight: 600;
		top: 17.4rem;
		left: calc(50% - 170px);
		font-size: 2.5rem;
		position: absolute;
		z-index: 4;
		color: white;
	}
}
@media (min-width: 586px) and (max-width: 899px){
	.title{
		font-weight: 600;
		top: 12.5rem;
		left: calc(50% - 275px);
		font-size: 4rem;
		position: absolute;
		z-index: 5;
	}
	.title-op{
		font-weight: 600;
		top: 12.4rem;
		left: calc(50% - 272px);
		font-size: 4rem;
		position: absolute;
		z-index: 4;
		color: white;
	}
}
@media (min-width: 900px) and (max-width: 1066px){
	.title{
		font-weight: 600;
		top: 14.6rem;
		left: calc(50% - 410px);
		font-size: 6rem;
		position: absolute;
		z-index: 5;
	}
	.title-op{
		font-weight: 600;
		top: 14.3rem;
		left: calc(50% - 405px);
		font-size: 6rem;
		position: absolute;
		z-index: 4;
		color: white;
	}
}
@media (min-width: 1066px){
	.title{
		font-weight: 600;
		top: 9.5rem;
		left: calc(50% - 410px);
		font-size: 6rem;
		position: absolute;
		z-index: 5;
	}
	.title-op{
		font-weight: 600;
		top: 9.3rem;
		left: calc(50% - 405px);
		font-size: 6rem;
		position: absolute;
		z-index: 4;
		color: white;
	}
}