.h2-header-wrap{
	padding: 51px;
	color: var(--header-text-color);
	text-transform: uppercase;
	display: block;
	background-color: #8ed3e8;
	border-bottom: 20px solid #8ed3e8;
	transition: color .5s;
	text-align: center;
	text-shadow: 3px -3px 0 white;
	box-shadow: inset 0px 2px 1px var(--header-text-color),
		0px 2px 1px var(--header-text-color)
}
header h2:hover{
	cursor: default;
}

@media screen and (min-width: 771px) and (max-width: 1096px){
	.title{
		font-weight: 600;
		top: 8.5rem;
		left: calc(50% - 275px);
		font-size: 4rem;
		position: absolute;
		z-index: 5;
	}
}
@media screen and (min-width: 1096px){
	.title{
		font-weight: 600;
		top: 7.5rem;
		left: calc(50% - 420px);
		font-size: 6.1rem;
		position: absolute;
		z-index: 5;
	}
}