.ilhan-op{
	position: absolute;
	top: +0.125rem;
	left: -0.125rem;
	margin: 30px 55px;
	font-size: 30px;
	float: left;
	text-transform: uppercase;
	font-size: 2rem;
	color: var(--header-text-color);
	font-weight: 600;
}