/* ----- CSS reset ----- */
/*#about, #contacts {
	display: none;
	-o-display: none;
	-moz-display: none;
	-webkit-display: none;
}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption,tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, wrap, summary,time, mark, audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h1, h2, h3, .nav, nav{
	font-family: 'Orbitron', sans-serif;
}
.containers {
	margin: 0 auto;
	min-width: 533px;
}

/* ----- Fonts ----- */
body {
	font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial,
	sans-serif;
}

/* ----- Navigation ----- */
nav {
	text-align: right;
	padding-right: 55px;
}
nav li {
	display: inline-block;
	margin: 0px;
	vertical-align: top;
	text-transform: uppercase;
	cursor: pointer;
}
nav li:last-child {
	margin-right: 0;
}
.nav {
	display: block;
	padding: 30px 20px;
	text-decoration: none;
	color: #fff;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
	transition: background 1s, color 1s;
}
.nav:hover {
	background: rgba(256,256,256, 1);
	color: #000;
}
/* ----- END ----- */

/* ----- Header ----- */
header{
	background: url(images/head.jpg);
	text-align: center;
	color: #000;
}
header h1, footer h1{
	margin: 30px 55px;
	font-size: 30px;
	float: left;
}
header h2, footer h2{
	font-size: 50px;
	padding: 100px;
	font-weight: 600;
	line-height: 0.8em;
	color: #000;
	text-transform: uppercase;
	display: block;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: #fff;
}
header nav li{
	font-size: 20px;
}
/* ----- END ----- */

/* - - - - - MAIN CONTENT - - - - - */
body{
	background: #fefefe; 
	margin: 0; 
	padding: 0;
}
img{
	margin: 0; 
	padding: 0; 
	vertical-align: middle; 
	border: none;
}
.main{
	margin: 20px;
	padding: 20px; 
	background: #fff; 
	border-radius: 3px;

	min-height: 600px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.projects{
	padding: 5px;
	border:2px solid #ebebeb;
	border-radius: 5px;
	margin: 15px;
	flex: 1 1 25%;
	transition: box-shadow .5s;
}
.projects a:visited{
	color: black;
}
.projects:hover {
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.projects img{
	width: 100%;
}
.text p, .text h3{
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
/* - - - - - END - - - - - */

/*#about {
	width: 100%;
	height: 500px;
	display: none;
}
#contacts {
	width: 100%;
	height: 500px;
	display: none;
}
#about ul {
	width: 818px;
	margin: auto;
}
#about ul li {
	display: inline-block;
	height: 500px;
}
.vcard {
	padding-top: 10%;
	width: 243px;
	margin: auto;
}*/

/* ----- Footer ----- */
footer {
 	background: -moz-linear-gradient(45deg,
	 rgba(255,40,44,0.57) 0%,
	 rgba(244,255,48,0.65) 33%,
	 rgba(41,206,52,0.73) 68%,
	 rgba(0,168,229,0.8) 100%);
	background: -webkit-linear-gradient(45deg,
	rgba(255,40,44,0.57) 0%,
	rgba(244,255,48,0.65) 33%,
	rgba(41,206,52,0.73) 68%,
	rgba(0,168,229,0.8) 100%);
	background: linear-gradient(45deg,
	rgba(255,40,44,0.57) 0%,
	rgba(244,255,48,0.65) 33%,
	rgba(41,206,52,0.73) 68%,
	rgba(0,168,229,0.8) 100%);
	border-top: 2px solid #000;
}
footer p {
	float: left;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 55px;
}